# Hierarchial

Here, I have simulated some data:

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Sample Data (2D Points)
X = np.array([[5, 3], [10, 15], [15, 12], [24, 10], [30, 30], [85, 70], [71, 80], [60, 78], [55, 52], [80, 91]])

# Step 1: import required library

import scipy.cluster.hierarchy as sch

In [1]:
# Answer

# Step 2: Consider to convert to the numpy array (optional, hint: X= np.array(name_of_table[['col1','col2']]))

In [27]:
# Answer

# Step 3: normalize your data (optional but recommended)

1. from sklearn.preprocessing import StandardScaler

2. scaler = StandardScaler()

3. X_scaled = scaler.fit_transform(data)

In [28]:
# Answer

# Step 4: calculate the distance matrix

1. from scipy.spatial import distance_matrix
   
3. dist_matrix = distance_matrix(normalized_data,normalized_data)

In [29]:
# Answer

# Step 5: cluster using linkage. In the linkage there is different method. Please choose 'ward' which is variance.

linked = sch.linkage(data, method='ward')

In [30]:
# Answer

# Step 6: Plot it

In [ ]:
# Plot the Dendrogram
plt.figure(figsize=(8, 5))
dendrogram = sch.dendrogram(linked)
plt.title('Hierarchical Clustering Dendrogram')
plt.xlabel('Data Points')
plt.ylabel('Distance')
plt.show()

# Exercise

Project: Customer Segmentation

In this project, your goal is to segment customers into distinct groups based on their characteristics. You are provided with a dataset containing the following features:

CustomerID ‚Äì A unique identifier for each customer

Gender ‚Äì The customer's gender

Age ‚Äì The customer's age

Annual Income ‚Äì The customer's annual income (in thousands)

Spending Score ‚Äì A score assigned based on customer behavior and spending habits

Your task is to apply various clustering algorithms to identify meaningful customer segments. Here, try Hirarchial approach.

This dataset is available on Kaggle, and you're encouraged to experiment and iterate as much as possible.

Have fun exploring the data‚Äîand remember, your insights can help businesses tailor their strategies to better serve different types of customers!

In [31]:
# Answer

If you want to have it in the data frame:

Step 1: import required library:

from sklearn.cluster import AgglomerativeClustering

In [ ]:
# Answer

Step 2: Defind the model

agglom = AgglomerativeClustering(n_clusters = ?, linkage = 'complete')

In [32]:
# Answer

Step 3: you will fit the model

agglom.fit(dist_matrix)

In [33]:
# Answer

Step 4: your cluster will be in

labels= agglom.labels_

if you want to save it as a new column in the data, run: 

name_of_your_table['cluster'] = agglom.labels_

In [34]:
# Answer

Step 5: plot it (if you have more that 2D, you should plot it in 3D)

In [35]:
# Answer

# üöó Project: Clustering Cars Using Hierarchical Models


üß© Objective:
You are provided with a dataset that contains specifications and sales-related features for various car models. Your task is to explore the data, apply hierarchical clustering, and identify groups of similar vehicles based on their characteristics.

üìù Dataset Overview:

Each row represents a different car model, with the following features:

manufact ‚Äì Manufacturer name

model ‚Äì Model name

sales ‚Äì Number of units sold (in thousands)

resale ‚Äì Estimated resale value (in thousands)

type ‚Äì Car category (e.g., sedan, SUV, etc.)

price, engine_s, horsepow, wheelbas, width, length, curb_wgt ‚Äì Technical specifications

fuel_cap ‚Äì Fuel tank capacity (in gallons)

mpg ‚Äì Miles per gallon

lnsales ‚Äì Log-transformed sales

partition ‚Äì Optional grouping column

üîç What to do:

1. Preprocess the data

Handle any missing values.

Drop non-numeric or identifier columns like manufact, model, and partition.

Standardize or normalize the data to bring all features to a comparable scale.
    

2. Apply Hierarchical Clustering

Use Agglomerative Hierarchical Clustering.

Plot the dendrogram to visualize the hierarchy of clusters.


3. Interpret the Clusters

Choose a number of clusters based on the dendrogram.

Assign each car to a cluster and examine which features contribute most to cluster separation.

Compare average values of price, horsepower, mpg, etc., across clusters.
    

4. Visualize

Use 2D or 3D scatter plots to show the clustering results .

Annotate or color-code cars by cluster.

üí¨ Questions to Reflect On:
    
What features seem to most influence how cars are grouped?

How do the resulting clusters align with your intuition (e.g., high-performance cars vs. economy cars)?

In [2]:
!wget -O cars_clus.csv https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-Coursera/labs/Data_files/cars_clus.csv

zsh:1: command not found: wget

In [3]:
filename = 'cars_clus.csv'

#Read csv
pdf = pd.read_csv(filename)
print ("Shape of dataset: ", pdf.shape)

pdf.head(5)

NameError: name 'pd' is not defined

In [12]:
print ("Shape of dataset before cleaning: ", pdf.size)
pdf[[ 'sales', 'resale', 'type', 'price', 'engine_s',
       'horsepow', 'wheelbas', 'width', 'length', 'curb_wgt', 'fuel_cap',
       'mpg', 'lnsales']] = pdf[['sales', 'resale', 'type', 'price', 'engine_s',
       'horsepow', 'wheelbas', 'width', 'length', 'curb_wgt', 'fuel_cap',
       'mpg', 'lnsales']].apply(pd.to_numeric, errors='coerce')
pdf = pdf.dropna()
pdf = pdf.reset_index(drop=True)
print ("Shape of dataset after cleaning: ", pdf.size)
pdf.head(5)

Shape of dataset before cleaning:  2544
Shape of dataset after cleaning:  1872

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition
0,Acura,Integra,16.919,16.360,0.0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0.0
1,Acura,TL,39.384,19.875,0.0,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0.0
2,Acura,RL,8.588,29.725,0.0,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0.0
3,Audi,A4,20.397,22.255,0.0,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0.0
4,Audi,A6,18.780,23.555,0.0,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2.933,0.0

In [ ]:
# Answer

Second data source:

https://www.ibm.com/products/cloud-object-storage/aspera?utm_content=SRCWW&p1=Search&p4=43700082121900491&p5=b&p9=58700008827063025&gad_source=1&gad_campaignid=22026623700&gbraid=0AAAAA-oK5nsYg6a3nbvbeI0axkkT4HxDB&gclid=CjwKCAjw7rbEBhB5EiwA1V49na8EMcR8LQ7mt0r7_rcrQPJ1x2Ek4RCD4jE5W3SziBWjUf9zn7nB2RoC2csQAvD_BwE&gclsrc=aw.ds

https://www.kaggle.com/